*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}
/* common */
.clear{
    clear:both;
}
.text-white
{
    color: white !important;
}
.text-center{
    text-align: center !important;
}
.row{
        margin-left: -8px;
        margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-three{
    width: 33.333%;
}
.col-two{
    width: 50%;
}
.col-full
{
    width: 100%;
}
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
.btn{
   
    color: white;
    list-style-type: none;
    background: black;
    text-decoration: none;
    padding: 9px 10px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 0%;
}
.btn:hover{
    background-color: #ccc;
    color: black;
}
.pull-right{float: right !important;}
/* main */
#main
{

}
/* header */
#header
{
    height: 46px;
    background-color: black;
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav{
    display: inline-block;

}
#nav .subnav{
    list-style-type: none;
}
#nav>li{
    display: inline-block;
}
#nav li{

    position: relative;
}
#nav >li> a
{color: aliceblue;
    text-transform: uppercase;
}
#nav li a{
    text-decoration:none;
    line-height: 46px;
    padding:0 27px ;
    display: inline-block;
}
#nav li:hover .subnav
{
    display:block;
}
#nav .subnav li:hover,
#nav>li:hover>a
{
    color: black;
    background-color: #ccc;

}
#nav .subnav
{
    display:none;
    min-width: 200px;
    position: absolute;
    background-color: aliceblue;
    box-shadow: 4px 4px #888888;
}
#nav .subnav a{
    color: black;
    padding: 0 39px;
    line-height: 38px ;
}
#nav .nav-arrow-down
{
    font-size: 14px;
}
#header .search-btn
{
    float: right ;
    line-height: 46px;
    padding: 0 20px;
    cursor: pointer;
}
#header .search_icon
{
    color: aliceblue;
    font-size:20px;
    
}
#header .search-btn:hover{
    background-color: red;
}
/* slider */
#slider
{
    position: relative;
    margin-top: 46px;
    padding-top:50% ;
    background:url('/assets/img/slider1.jpg') top center/cover no-repeat;
}
#slider .text-content
{
    position: absolute;
    bottom: 0;
    color: aliceblue;
    right: 0;
    left: 0;
    text-align: center;
    margin-bottom: 68px;
}
#slider .text-heading1
{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-heading2
{
    margin-top: 15px;
    font-size: 15px;
}
/* content */
#content
{
    
}
#content .content-section
{
    width: 900px;
    padding: 64px 0;
    margin-right:auto ;
    margin-left: auto; 
}
#content .section-heading
{
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 500;
}
#content .section-sub-heading{
    font-style: italic;
    opacity: 0.6;
}
#content .about-text
{
    text-align: justify;
    line-height:1.6;
}
#content .about-text,
#content .section-sub-heading{
    font-size: 15px;
}
#content .section-heading,
#content .section-sub-heading
{
    text-align: center;
    margin-bottom: 16px;
}
#content .member-list
{
    margin-top: 48px;
}

#content .member-name
{
    margin: 15px 0;
    
    font-size: 15px;
}
#content .member-img
{
    width: 154px;
    border-radius: 4px;
    margin-bottom: 106px;
}
/* tour section  */
.tour-section
{
    background-color: black ;
}
.tickets-list
{
    background-color: aliceblue;
    margin-top: 40px;
}
.tickets-list li{
    font-size: 16px;
    padding: 7px 28px;
    border-bottom: 1px solid black;
}
.tickets-list .sold-out{
    background-color: red;
    padding: 4px 5px;
    margin-left: 16px;
}
.tickets-list .quantity
{
    float: right;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    margin-top: -3px;

}
.location-list
{
    margin-top: 32px;
    margin-bottom: 48px;
}

    
.location-img{
    width: 100%;
    display: block;
}
.location-img:hover{
    opacity: 0.6;
}
.location-content{
    background-color: white;
    padding:16px;
    font-size: 15px;
}
.location-heading{
    font-weight: 600;
}
.location-time{
    margin-top: 15px;
    color: #757575;
}
.location-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none; 
}
.modal .open
{display:flex}

.modal-header {
    background-color: green;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.modal-main
{
    background: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
}
.modal .ti-bag{
    margin-right:16px ;
}
.modal .ti-close{
    position: absolute;
    right: 0px;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    opacity: 0.6;
}
.modal .ti-close:hover{
    opacity: 1;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border:1px,solid,#ccc;
    font-size: 15px;
    width: 100%;
    padding:10px;
    margin-bottom: 25px;

}
.buy-tickets{
    color: white;
    background-color: green;
    width: 100%;
    height: 51px;
    border: none;
    text-transform: uppercase;
}
.buy-tickets:hover
{
    background-color: #ccc;
    color: black;
    border:0.5px,solid,#ccc ;
    cursor: pointer;
}
.modal-footer
{
    padding : 15px;
    text-align: right;
    
}
.modal-footer a{
    color: aqua;
}
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.6;
}
.contact-info i[class*="ti-"]{
    width: 30px;

}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.map-section img{
width: 100%;
}
/* footer section */
#footer
{
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6)
}
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.3)
}
.fa-solid{
    width: 28px;
    height: 28px;


}
.ti-view-list{

width: 28px;
height: 28px;
color: #ccc;
display: none;
}
@media (max-width: 1023px)
{
    .ti-view-list{
        display: block;
    }

}